* {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  padding: 10px;
  background: #efefef;
  font-family: 'Source Sans Pro', sans-serif;
  color: #333;
}
@media (min-width: 600px) {
  body {
    padding: 60px 10px;
  }
}
h1 {
  margin: 0;
  font-family: 'Bree Serif', serif;
  font-size: 26px;
  text-align: center;
}
input[type="text"],
input[type="password"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
.tabs {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  background: #e5e5e5;
  box-shadow: 0 18px 10px -12px rgba(0,0,0,0.3);
}
.input {
  position: absolute;
  opacity: 0;
}
.label {
  width: 100%;
  padding: 20px 30px;
  background: #e5e5e5;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  color: #7f7f7f;
  transition: background 0.1s, color 0.1s;
}
.label:hover {
  background: #d8d8d8;
}
.label:active {
  background: #ccc;
}
.input:focus + .label {
  z-index: 1;
}
.input:checked + .label {
  background: #fff;
  color: #000;
}
@media (min-width: 600px) {
  .label {
    width: auto;
  }
}
.panel {
  display: none;
  padding: 20px 40px 30px;
  background: #fff;
}
@media (min-width: 600px) {
  .panel {
    order: 99;
  }
}
.input:checked + .label + .panel {
  display: block;
}
