* {
    margin:  0;
    padding: 0;
}

/* align center */
body {
    margin: auto;
}

/* common heading */
h2 {
    text-align: center;
    padding: 10px 0;
    width: 100%;
    font-weight: bolder;
}


/* common paragraph */
p {
    margin: 3px 0px;
}

/* google login button */
.google-cta:hover {
    background: #0E64D2;
    color: #fff;
}

hr {
    background: #EEE;
    border: 1px solid #EEE;
    margin: 4% 0 ;
}

/* 1. Signup form -  */
.styled-form {
    padding: 20px 20px;
    border: 2px solid #EEE;
    width:  360px;
    margin: 10px auto;
    border-radius: 10px;
}

#signup-form > form {
    display: flex;
    gap: 5px;
    flex-direction: column;
}
#signup-form  input {
        height: 26px;
        padding: 4px;
        margin-bottom: 10px;
        border: 1px solid #B5C0D0;
        border-radius: 5px; 
}

#signup-form  button {
    height: 36px;
    padding: 5px;
    font-size: 16px;
    background: #0E64D2;
    border: none;
    color: #fff;
    border-radius: 5px;
    margin: 5px 0px;
}

#signup-form button:hover {
    background-color: #0e3cd2;
}

/* google login */
.google-cta {
    margin: 8px 0px;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    gap: 10px;
    border-radius: 5px;
}
/* box shadow style */
#signup-form:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
/* google login button */
.google-cta:hover {
    background: #0E64D2;
    color: #fff;
}


/* 2. Login Form section */
#login-form > form {
    display: flex;
    gap: 5px;
    flex-direction: column;
}
#login-form:hover {
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1), 0 4px 6px -4px rgba(0,0,0,0.1);
}
#login-form  input {
    height: 26px;
    padding: 4px;
    margin-bottom: 10px;
    border: 1px solid #B5C0D0;
    border-radius: 5px; 
}
#login-form  button {
    height: 36px;
    padding: 5px;
    font-size: 16px;
    background: #0E64D2;
    border: none;
    color: #fff;
    border-radius: 5px;
    margin: 5px 0px;
}

#login-form button:hover {
background-color: #0e3cd2;
}



/* 3. Contact form Section  */
#contact-form  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.contact-container > form {
    display: flex;
    flex-direction: column;
}
.contact-container h2 {
    text-align: left;
    padding: 20px 0px;
    font-weight: bold;
}
.contact-container label {
  padding-top: 5px;
}
.contact-container  input {
    height: 26px;
    padding: 4px;
    margin-bottom: 10px;
    border: 1px solid #000;
    
}
.contact-terms {
    display: flex;
    gap: 10px;
    padding: 10px 0
} 
.contact-container button {
    transition: background 0.5s ease, color 0.5s ease;
    width: 80px;
    height: 30px;
    background: #000;
    color: #fff;
}
.contact-container button:hover {
    background: #fff;
    color: #000;;
}


/* Feedback form */
#feedback-form{
    padding: 20px 0px;
    color: #2071B2;
    background: linear-gradient(45deg, #FFDE6A, #0096FF);
}
#feedback-form h3  {
  text-align: center;
}
/* select the first p element */
#feedback-form p {
    padding-bottom: 10px;
}
#feedback-form p:first-of-type  {
    font-weight: lighter;
    font-size: 14px;
    padding-bottom: 20px;
  }


#feedback-form form {
    background: #fff;
    padding: 20px 20px;
    border: 2px solid #EEE;
    width:  360px;
    margin: 10px auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.f-items {
    display: flex;
    flex-direction: column;

}
.f-input {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.f-input input {
    height: 26px;
    padding: 3px;
    margin-bottom: 25px;
    border: 1px solid #B5C0D0;
    border-radius: 5px; 
}
.emoji-items {
    display: flex;
    color: #20B2AA;
   justify-content: space-between;
}
.emoji-items div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scroll-bar{
    background: #A5E0DD;
    height: 8px;
    margin: 6px 0px 25px 0px;
    border-radius: 5px;
}

.scroll-bar-stat {
    background-color: #105955;
    border-radius: 5px;
    height: 8px;
    width: 10%;
}

#feedback-form button {
    height: 36px;
    padding: 5px;
    font-size: 16px;
    background: #20B2AA;
    border: none;
    color: #fff;
    border-radius: 5px;
    margin: 5px 0px;
}
#feedback-form button:hover {
    background: #20a1b2;
}

#feedback-form textarea {
    padding: 5px;
}


/* Form 5. survey form   */
#survey-form > p  {
 
    font-size: 12px;
    padding-bottom: 10px;
    color: #686868;
 
}
#survey-form > h1 {
    color: #686868;
    font-size: 25px;
    padding-bottom: 5px;
}

.survey-sub  {
    background-color: #eee;
    border-radius: 10px;
    padding: 10px 0px 10px 5px
}

.survey-sub p {
    font-size: small;
    font-weight: normal;
}

#survey-form > form {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  gap: 14px;
}

#survey-form textarea {
    width: 100%;
}
#survey-form p  {
 font-weight: bold;
 padding-bottom: 5px;
}
 
#survey-form span {
    color: #686868;
    font-size: small;
}

.rating div {
    display: flex;
}

.rate-items p {
   border: 1px solid #000;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 30px;
   width: 60px;
   margin-right: 10px;
   border-radius: 5px;
}

#survey-form button {
    height: 36px;
    padding: 5px;
    font-size: 16px;
    background: #686868;
    border: none;
    color: #fff;
    border-radius: 5px;
   
}
#survey-form button:hover {
    background: #686868ea;
}


/* 6.Job application survey */
#job-form span {
 color: red;
}
/* Content Styling */
job-form h2{
	font-size: 20px;
	text-align: left;
	margin-bottom: 15px;
}


.application-form .application-form-detail h4{
	display: block;
	text-transform: uppercase;
	padding: 5px;
	margin-bottom: 10px;
}
 .form-group{
	margin: 10px 5px;
}

.form-group input,
.form-group select,
.form-group textarea{
	width: 100%;
	padding: 8px 5px;
	border: 1px solid #eee
	
}
form input:focus,
form select:focus,
form textarea:focus{
	
	border: 1xp solid transparent;
}
form .form-inline{
	display: flex;
	justify-content: space-between;
}
form .form-inline.flex{
	display: flex;
	justify-content: start;
	margin-bottom: 10px;
}
form .form-inline.flex input{
	width: unset;
	margin-right: 10px;
}
form .form-inline .form-group{
	width: 48%;
}
#job-form button{
	display: block;
	padding: 6px 10px;
	background-color: #686868;
	color: #fff;
	border: none;
	cursor: pointer;
	transition: 0.3s ease-in;
	margin-left: 5px;
}
#job-form button:hover  {
    background-color: #fff;
    color: #686868
}


/* 7. Event Registration Form */
#event-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

#event-form h2 {
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.event-group {
    padding-bottom: 10px ;
}


.event-group input,
.event-group select,
.event-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#event-form button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#event-form button:hover {
    background-color: #218838;
}


/* 8. New letter subscription form */
#news-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

#news-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
}

#news-form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}