body {
    padding: 0;
    box-sizing: border-box;
    height: 100vh; 
    width: 100vw;  
    margin: 0 auto; 
}

.container {
    display: grid;
    grid-template-columns: 80px 280px auto;
    height: 100%;
}

/* for left button options menu  */
.menu {
    background-color: #eaf1fb;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Styling for menu button */
.menu-button .menu-button-icon {
    padding: 16px;
    cursor: pointer;
    border-radius: 10%; 
    margin-top: 8px; 
    margin-bottom:30px;
    transition: all 0.2s ease-in-out; 
}

.menu-button .menu-button-icon:hover {
    background-color: #d3e3fd; 
}

/* Styling for mail */
.menu-mail .menu-mail-icon {
    padding: 10px 16px;
    cursor: pointer;
    background-color: #d3e3fd; 
    border-radius: 50px; 
}

.menu-mail .menu-text {
    font-size: 0.875rem; 
    font-weight: 600; 
    margin-top: -1px;
}

/* Styling for chat */
.menu-chat .menu-chat-icon {
    padding: 10px 16px; 
    cursor: pointer;
    transition: all 0.2s ease-in-out; 

    border-radius: 40px; 
}

.menu-chat .menu-chat-icon:hover {
    background-color: #d3e3fd; 
    border-radius: 40px; 
}

.menu-chat .menu-text {
    font-size: 0.875rem; 
    font-weight: 400; 
    margin-top: -1px;
}

/* Styling for spaces */
.menu-spaces .menu-spaces-icon {
    padding: 10px 16px; 
    cursor: pointer;
    transition: all 0.2s ease-in-out; 
    border-radius: 50px; 
}

.menu-spaces .menu-spaces-icon:hover {
    background-color: #d3e3fd; 
  
}

.menu-spaces .menu-text {
    font-size: 0.875rem; 
    margin-top: -1px;
}

/* Styling for meet */
.menu-meet .menu-meet-icon {
    padding: 10px 16px; 
    cursor: pointer;
    transition: all 0.2s ease-in-out; 
}
.menu-meet .menu-meet-icon:hover {
    background-color: #d3e3fd; 
    border-radius: 9999px; 
}
.menu-meet .menu-text {
    font-size: 0.875rem;
    margin-top: -1px;
}

.icon-large {
    width: 24px; 
    height: 24px; 
}

.icon-medium {
    width: 20px; 
    height: 20px; 
}

/* mail options  */
.mail-options {
    background-color: #F6F8FC;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 100%;
   
}

.gmail-logo {
    height: 3rem;
    width: 8rem;
    margin-bottom: 30px;
}

.compose-button {
    width: 10rem;
    background-color: #C2E7FF;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 3px;
    border-radius: 1.2rem;
    font-weight: 600;
}

.icon-medium {
    width: 1.25rem;
    height: 1.25rem;
}

.mail-options-list {
width: 200px;
}

.mail-option {
    height: 30px;
    display: flex;
    gap: 1.25rem;
    border-radius: 1.5rem;
    padding-left: 10px;
    padding-top: -px;
    cursor: pointer;
    align-items: center;
    transition: all 0.2s ease-in-out;
    margin-left: -40px;
}

.mail-option-inbox {
    background-color: #D3E3FD;
    font-weight: 600;
    
}

.mail-option:hover {
    background-color: #e5e7eb; 
}

.icon-small {
    width: 1.25rem;
    height: 1.25rem;
}

.labels-section {
    margin-top: 1rem;
    width: 230px;
}

.labels-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    font-size: 0.8rem; 
}

.labels-title {
    margin-left: 0.5rem;
}

.label-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    font-weight: 600;
    height: 35px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin-top: -20px;
    margin-left: -40px;
}

.label-item:hover {
    background-color: #e5e7eb; 
    border-radius: 1.5rem;
}

.label-item-content {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.label-item-more {
    margin-right: 0.25rem;
    display: none;
}

.label-item:hover .label-item-more {
    display: block;
    background-color: #d1d5db; 
    border-radius: 50px; 
}



/* complete mail section */
.mail-section {
    background-color: #FFFFFF;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.navigation-header {
    background-color: #F6F8FC;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    height: 13vh;
    padding-left: 10px;
}

@media (min-width: 1536px) {
    .navigation-header {
        height: 8vh;
    }
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    width: 450px;
    background-color: #EAF1FB;
    height: 9vh;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    border-radius: 50px;
}

@media (min-width: 1536px) {
    .search-bar {
        width: 700px;
        height: 6vh;
    }
}

.search-icon,
.menu-icon,
.question-icon,
.settings-icon,
.squares-icon {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    cursor: pointer;
    width: 25px;
    height: 25px;
}

.search-icon:hover,
.menu-icon:hover,
.question-icon:hover,
.settings-icon:hover,
.squares-icon:hover {
    background-color: #E0E0E0;
}

.search-input {
    border: none;
    background-color: transparent;
    width: 100%;
    font-size: 1.125rem;
}

.search-input:focus {
    outline: none;
}

.menuTwo {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    padding-right: 1.25rem;
}

.active-button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: #EAF1FB;
    height: 9vh;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 9999px;
    font-weight: 600;
}

@media (min-width: 1536px) {
    .active-button {
        height: 6vh;
    }
}

.green-dot {
    height: 14px;
    width: 15px;
    background-color: #2F855A;
    border-radius: 50px;
}

.account-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #7C3AED;
    font-weight: 600;
    color: #FFFFFF;
    font-size: 1.125rem;
    cursor: pointer;
}

.active-button svg {
    width: 20px;
}

/* mail content  */
.main-content {
    display: grid; 
    grid-template-columns: auto 50px; 
    height: 87vh; 
  }
  
  @media (min-width: 1536px) { 
    .custom-main {
      height: 92vh; 
    }
  }

.display-mails-container {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    justify-content: space-between;
    height: 3.5rem;
}

.display-mail-header {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3.5rem;

}

.display-mails-header-left {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
}

.custom-checkbox {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.icon-small {
    width: 0.75rem;
    height: 0.75rem;
}

.custom-refresh,
.custom-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 9999px;
}

.custom-refresh {
    padding: 0.5rem;
    background-color: transparent;
}

.custom-refresh:hover {
    background-color: #e2e8f0;
}

.icon-medium {
    width: 1rem;
    height: 1rem;
}

.custom-menu {
    padding: 0.25rem;
}

.custom-menu:hover {
    background-color: #e2e8f0;
}

.icon-large {
    width: 1.25rem;
    height: 1.25rem;
}

/* right */
.display-mails-header-right {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 0.75rem;
    font-weight: 600;
    color: #5B5B5B;
}

.custom-caret {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 9999px;
    cursor: pointer;
    background-color: transparent;
}

.custom-caret:hover {
    background-color: #e2e8f0;
}

.icon-medium {
    width: 1rem;
    height: 1rem;
}

.custom-keyboard {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.keyboard-key {
    width: 1.25rem;
    height: 0.75rem;
    background-color: #6B7280;
}

/* mail options*/
.email-options-container {
    position: relative;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.custom-item {
    padding: 0 1.25rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 100%;
}

.custom-item:hover {
    background-color: #f3f4f6;
}


.item-text {
    font-weight: 600;
    font-size: 0.875rem;
}

.blue-line {
    position: absolute;
    bottom: 0;
    left: 2.5rem;
    width: 8rem;
    height: 0.25rem;
    background-color: #0B57D0;
    border-radius: 9999px;
}

.icon-large {
    width: 1.25rem;
    height: 1.25rem;
}

.primary-item {
    color: #0B57D0;
}

.promotions-item,
.updates-item {
    color: #5B5B5B;
}

.display-mail-list {
    background-color: #F2F6FC;
    border-color: #E5E7EB;
    overflow-y: scroll;
    height: 62vh;
    margin-top: -15px;
}
/* Media query for larger screens */
@media (min-width: 1300px) {
    .display-mail-list {
        height: 75vh; /* Adjust the height as needed */
    }
}

.mail-item {
    padding-left: 10px;
    display: flex;
    align-items: center;
    gap: 10rem;
    cursor: pointer;
    position: relative;
    margin-left: -40px;
    border: 1px solid #eee;
}

.mail-item:hover {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    box-shadow: 0 4px 6px -1px rgba(156, 163, 175, 0.4), 0 2px 4px -1px rgba(156, 163, 175, 0.4);
}


.mail-item-info {
    display: flex; 
    align-items: center; 
    gap: 0.75rem;
    color: #9ca3af; 
  }
  
  .custom-svg-wrapper {
    color: #9ca3af; 
  }
  
  .custom-svg-wrapper:hover {
    color: black; 
  }
  
  .custom-svg {
    width: 1rem; 
    height: 1rem; 
  }
  
  .custom-img {
    width: 1.5rem;
  }
  
  .custom-heading {
    color: black; 
  }
  

/* mail meta info  */
.mail-item-meta {
    display: flex; 
    align-items: center; 
    gap: 1.25rem; 
    position: relative; 
    width: 100%;
  }
  
  .custom-mail-message {
    width: 85%; 
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
  }
  
  .custom-mail-time {
    position: absolute; 
    right: 0.25rem; 
    color: #9ca3af; 
    font-weight: 600; 
    font-size: 0.875rem; 
  }

/* hover button  */
.custom-action-buttons {
    display: none;
    position: absolute;
    right: 0.3rem;
    z-index: 10;
    align-items: center;
    gap: 0.75rem;
}

.mail-item:hover .custom-action-buttons {
    display: flex;
    background-color: #f2f6fc;
}

.custom-button {
    padding: 0.5rem;
    border-radius: 50px;
}

.custom-button:hover {
    background-color: #e5e7eb;
}

.custom-icon {
    width: 1.2rem;
    height: 1.2rem;
}

/* menu right */
/* Container for the right-side menu */
.right-menu {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    padding: 1.25rem; 
    margin-left: -60px;
    
}


/* Container for menu items */
.menu-items {
    width: 100%;
}

/* Styling for the list of app icons */
.app-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.25rem; 
    list-style-type: none;
}

.icon-item {
    
    border-radius: 9999px; 
    padding: 0.5rem; 
    cursor: pointer;
}
.icon-item:hover{
    background-color: #f0f0f0; 
}

.icon-img {
    width: 1.25rem; 
}

/* Divider styling */
.divider {
    height: 1px;
    background-color: #e5e7eb; 
    width: 1.25rem; 
    margin: 2.5rem auto;
    margin-left: 45px;
}

/* Styling for additional icons */
.additional-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem; 
}

/* Styling for the caret symbol */
.caret-symbol {
   
    border-radius: 30px; 
    padding: 0.5rem; 
    cursor: pointer;
    margin-left: 35px;
}
.caret-symbol:hover{
    background-color: #f0f0f0; 
}
.caret-icon {
    width: 1rem; 
    height: 1rem; 
}
