body {
    padding: 0;
    box-sizing: border-box;
    height: 100vh; 
    width: 100vw;  
    margin: 0 auto; 
}

.container {
    display: grid;
    grid-template-columns: 80px 280px auto;
    height: 100%;
}

/* for left button options menu  */
.menu {
    background-color: #eaf1fb;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Styling for menu button */
.menu-button .menu-button-icon {
    padding: 16px;
    cursor: pointer;
    border-radius: 10%; 
    margin-top: 8px; 
    margin-bottom:30px;
    transition: all 0.2s ease-in-out; 
}

.menu-button .menu-button-icon:hover {
    background-color: #d3e3fd; 
}

/* Styling for mail */
.menu-mail .menu-mail-icon {
    padding: 10px 16px;
    cursor: pointer;
    background-color: #d3e3fd; 
    border-radius: 50px; 
}

.menu-mail .menu-text {
    font-size: 0.875rem; 
    font-weight: 600; 
    margin-top: -1px;
}

/* Styling for chat */
.menu-chat .menu-chat-icon {
    padding: 10px 16px; 
    cursor: pointer;
    transition: all 0.2s ease-in-out; 

    border-radius: 40px; 
}

.menu-chat .menu-chat-icon:hover {
    background-color: #d3e3fd; 
    border-radius: 40px; 
}

.menu-chat .menu-text {
    font-size: 0.875rem; 
    font-weight: 400; 
    margin-top: -1px;
}

/* Styling for spaces */
.menu-spaces .menu-spaces-icon {
    padding: 10px 16px; 
    cursor: pointer;
    transition: all 0.2s ease-in-out; 
    border-radius: 50px; 
}

.menu-spaces .menu-spaces-icon:hover {
    background-color: #d3e3fd; 
  
}

.menu-spaces .menu-text {
    font-size: 0.875rem; 
    margin-top: -1px;
}

/* Styling for meet */
.menu-meet .menu-meet-icon {
    padding: 10px 16px; 
    cursor: pointer;
    transition: all 0.2s ease-in-out; 
}
.menu-meet .menu-meet-icon:hover {
    background-color: #d3e3fd; 
    border-radius: 9999px; 
}
.menu-meet .menu-text {
    font-size: 0.875rem;
    margin-top: -1px;
}

.icon-large {
    width: 24px; 
    height: 24px; 
}

.icon-medium {
    width: 20px; 
    height: 20px; 
}

/* mail options  */
.mail-options {
    background-color: #F6F8FC;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 100%;
   
}

.gmail-logo {
    height: 3rem;
    width: 8rem;
    margin-bottom: 30px;
}

.compose-button {
    width: 10rem;
    background-color: #C2E7FF;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 3px;
    border-radius: 1.2rem;
    font-weight: 600;
}

.icon-medium {
    width: 1.25rem;
    height: 1.25rem;
}

.mail-options-list {
width: 200px;
}

.mail-option {
    height: 30px;
    display: flex;
    gap: 1.25rem;
    border-radius: 1.5rem;
    padding-left: 10px;
    padding-top: -px;
    cursor: pointer;
    align-items: center;
    transition: all 0.2s ease-in-out;
    margin-left: -40px;
}

.mail-option-inbox {
    background-color: #D3E3FD;
    font-weight: 600;
    
}

.mail-option:hover {
    background-color: #e5e7eb; 
}

.icon-small {
    width: 1.25rem;
    height: 1.25rem;
}

.labels-section {
    margin-top: 1rem;
    width: 230px;
}

.labels-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    font-size: 0.8rem; 
}

.labels-title {
    margin-left: 0.5rem;
}

.label-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    font-weight: 600;
    height: 35px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin-top: -20px;
    margin-left: -40px;
}

.label-item:hover {
    background-color: #e5e7eb; 
    border-radius: 1.5rem;
}

.label-item-content {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.label-item-more {
    margin-right: 0.25rem;
    display: none;
}

.label-item:hover .label-item-more {
    display: block;
    background-color: #d1d5db; 
    border-radius: 50px; 
}



/* complete mail section */
.mail-section {
    background-color: #FFFFFF;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.navigation-header {
    background-color: #F6F8FC;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    height: 13vh;
    padding-left: 10px;
  }
  
  @media (min-width: 1536px) {
    .navigation-header {
      height: 8vh;
    }
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    width: 450px;
    background-color: #EAF1FB;
    height: 9vh;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    border-radius: 50px;
  }
  
  @media (min-width: 1536px) {
    .search-bar {
      width: 700px;
      height: 6vh;
    }
  }
  
  .search-icon,
  .menu-icon,
  .question-icon,
  .settings-icon,
  .squares-icon {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    cursor: pointer;
    width: 25px;
    height: 25px;
  }
  
  .search-icon:hover,
  .menu-icon:hover,
  .question-icon:hover,
  .settings-icon:hover,
  .squares-icon:hover {
    background-color: #E0E0E0;
  }
  
  .search-input {
    border: none;
    background-color: transparent;
    width: 100%;
    font-size: 1.125rem;
  }
  .search-input:focus{
    outline: none;
  }
  
  .menuTwo {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    padding-right: 1.25rem;
  }
  
  .active-button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: #EAF1FB;
    height: 9vh;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 9999px;
    font-weight: 600;
  }
  
  @media (min-width: 1536px) {
    .active-button {
      height: 6vh;
    }
  }
  
  .green-dot {
    height: 14px;
    width: 15px;
    background-color: #2F855A;
    border-radius: 50px;
  }
  
  .account-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #7C3AED;
    font-weight: 600;
    color: #FFFFFF;
    font-size: 1.125rem;
    cursor: pointer;
  }
  .active-button svg {
    width: 20px;
  }
/* mail inbox section */
/* right */
.main-content {
    display: grid;
    grid-template-columns: auto 60px;
    height: 87vh;
    border: 1px solid red;
}

@media (min-width: 1536px) {
    .main-content {
        height: 92vh;
    }
}

.mail-section-inbox {
    overflow: hidden; 
    padding: 10px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    border-radius: 1rem;
}

/* mail header left */
.mail-header-left {
  display: flex;
  align-items: center;
  gap: 1rem; 
}

.checkbox-container {
  display: flex;
  align-items: center;
  gap: 0.25rem; 
}

.checkbox-icon {
  width: 0.75rem; 
  height: 0.75rem; 
}

.refresh-container, .menu-container {
  padding: 0.5rem; 
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px; 
  cursor: pointer;
}

.refresh-container:hover, .menu-container:hover {
  background-color: #e5e7eb; 
}

.refresh-icon {
  width: 1rem; 
  height: 1rem; 
}

.menu-icon {
  width: 1.25rem; 
  height: 1.25rem; 
}

/* right */
.mail-header-right {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 0.75rem;
    font-weight: 600;
    color: #5B5B5B;

}

.arrow-container {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    cursor: pointer;
}

.arrow-container:hover {
    background-color: #e5e7eb;
}

.arrow-icon {
    width: 1rem;
    height: 1rem;
}

.keyboard-container {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.keyboard-key {
    width: 1.25rem;
    height: 0.75rem;
    background-color: #6b7280;
}

.keyboard-icon {
    width: 1rem;
    height: 1rem;
}