
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .breadcrumb{
      display: inline-block;
      box-shadow: 0 0 15px 1px #e11d1d59;
      overflow: hidden;
      border-radius: 5px;
      counter-reset: flag;
     }
     .breadcrumb a{
      text-decoration: none;
      outline: none;
      display: block;
      float: left;
      font-size: 12px;
      line-height: 36px;
      color:#fff;
      padding: 0 10px 0 60px;
      background: #d30e0e;
      background: linear-gradient(#de1616, #8b0808);
      position: relative;
     }
     .breadcrumb a:first-child{
      padding-left: 46px;
      border-radius: 5px 0 0 5px;
     }
     .breadcrumb a:first-child::before{
      left: 14px;
     }
     .breadcrumb a:last-child{
      border-radius: 0 5px 5px 0;
      padding-right: 20px;
     }
     .breadcrumb a.active, .breadcrumb a:hover{
      background: #8b0404;
      background: linear-gradient(#6e0808, #ec0909);
     }
     .breadcrumb a.active::after, .breadcrumb a:hover::after{
      background: #333;
      background: linear-gradient(135deg, #e63d3d, #6a0707);
     }
     .breadcrumb a::after{
      content: "";
      position: absolute;
      top: 0;
      right: -20px;
      width: 36px;
      height: 36px;
      transform: scale(0.407) rotate(45deg);
      z-index: 1;
      background: #dc1d1d;
      background: linear-gradient(135deg, #700202, #dc4f4f);
      box-shadow: 
      2px -2px 0 2px #ec373766,
      3px -3px 0 2px #8407071a;
      border-radius: 0 5px 0 50px;
     }
     .breadcrumb a:last-child::after{
      content: none;
     }
     .breadcrumb a::before{
      content: counter(flag);
      counter-increment: flag;
      border-radius: 100%;
      width: 20px;
      height: 20px;
      text-align: center;
      line-height: 20px;
      margin: 8px 0;
      position: absolute;
      top: 0;
      left: 30px;
      background: #ea0505;
      background: linear-gradient(#da0606, #6c0505);
      font-weight: bold;
     }
     .flat a, .flat a::after{
      background: #fff;
      color: #d30b0b;
      transition: all 0.5s;
     }
     .flat a::before{
      background: #fff;
      box-shadow: 0 0 0 1px #ccc;
     }
     .flat a:hover, .flat a.active,
     .flat a:hover::after, .flat a.active::after{
      background: #9EEB62;
     }
        