body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.breadcrumbs {
    display: flex;
    border-radius: 10px;
    margin: auto;
    text-align: center;
    top: 50%;
    height: 40px;
    transform: translateY(-50%);
    z-index: 1;
    }
    
    
    .breadcrumb__item {
    height: 100%;
    background-color: rgb(255, 255, 255);
    color: #252525;
    font-family: 'Oswald', sans-serif;
    border-radius: 7px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    text-transform: uppercase;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    transform: skew(50deg);
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    margin: 5px;
    padding: 0 40px;
    cursor: pointer;
    }
    
    
    .breadcrumb__item:hover {
    background: #249900;
    color: #FFF;
    }
    
    
    .breadcrumb__inner {
    display: flex;
    flex-direction: column;
    margin: auto;
    z-index: 2;
    transform: skew(-50deg);  
    }

